// GRID SETTINGS
// 
$site_width: 960px;
$columns: 16;
$column: $site_width/$columns;
$column_padding: 0;
$column_margin: 10px;
$column_space: $column_padding + $column_margin;
$column_width: $column - ($column_space*2);


// TYPE SETTINGS
$font_sizing: yui;
$base_font_size: 13px !default;
$base_line_height: 22px;
$font_serif: Georgia, "Times New Roman", serif;
$font_sans_serif: Helvetica, Arial, sans-serif;
$font_monospace: "Courier New", "Lucida Console", monospace;