/* ----------------------------------------------------------------------
   Grid based on the 960 Grid System (http://960.gs/)


   Created with the help of SASS and Compass
   SASS: http://www.sass-lang.com
   Compass: http://github.com/chriseppstein/compass
   ---------------------------------------------------------------------- */

/* =Container
======================================== */
.container {
  margin-left: auto;
  margin-right: auto;
  width: $site_width;
}

#{enumerate(".grid",1,$columns,#{"_"})}
  {
    display: inline;
    float: left;
    margin-left: $column_margin;
    margin-right: $column_margin;
    padding-left: $column_padding;
    padding-right: $column_padding;
  }

/* =Grid >> Children
======================================== */
.alpha {
  margin-left: 0;
  padding-left: 0;
}

.omega {
  margin-right: 0;
  padding-right: 0;
}

/* =Grid >> Columns
======================================== */
/* n*(column content + 2*column space) - 2*column space */
@for $i from 1 through $columns {
  .grid_#{$i} {
    width: $i*($column_width + ($column_space*2)) - ($column_space*2);
  }
}

/* =Grid Container >> Columns
======================================== */
/* n*(column content + 2*column space) - 2*column space */
@for $i from 1 through $columns {
  .grid_container_#{$i} {
    width: $i*$column;
  }
}

/* =Prefix Extra Space
--------------------------- */
/* n*(column content + 2*column space) + padding */
@for $i from 1 through $columns {
  .prefix_#{$i} {
    width: $i*($column_width + ($column_space*2)) + ($column_padding);
  }
}
 
/* =Suffix Extra Space
--------------------------- */
/* n*(column content + 2*column space) + padding */
@for $i from 1 through $columns {
  .suffix_#{$i} {
    width: $i*($column_width + ($column_space*2)) + ($column_padding);
  }
}

/* =Push Space
--------------------------- */
/* n*(column content + 2*column space) */
@for $i from 1 through $columns {
  .push_#{$i} {
    width: $i*($column_width + ($column_space*2));
  }
}

/* Pull Space
--------------------------- */
/* -n*(column width + 2*column space) */
@for $i from 1 through $columns {
  .pull_#{$i} {
    width: $i*($column_width + ($column_space*2))*-1;
  }
}

/* Clear Floated Elements
--------------------------- */ 
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
 
/* http://perishablepress.com/press/2009/12/06/new-clearfix-hack */
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
 
/*
The following zoom:1 rule is specifically for IE6 + IE7.
Move to separate stylesheet if invalid CSS is a problem.
*/
* html .clearfix,
*:first-child+html .clearfix {
  zoom: 1;
}
