/*----------------------------------------------------------------------
   Set up typography and baseline grid.
   ---------------------------------------------------------------------- */

body {
    font-size: $base_font_size;
    line-height: $base_line_height;
    color: #333333;
    font-family: $font_serif;
}

/* =Headings
======================================== */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: $font_serif;
}

h1 {
    font-size: $yui24px;
    font-weight: bold;
}

h2 {
    font-size: $yui21px;
    font-weight: bold;
}

h3 {
    font-size: $yui18px;
}

h4 {
    font-size: $yui16px;
}

h5 {
    font-size: $yui14px;
}

h6 {
    font-size: $yui13px;
}

/* =Text Elements
======================================== */
a:focus {
    outline: 1px dotted;
}

p {
    margin: 0 0 $base_line_height 0;
}

ul {
    list-style-position: outside;
    list-style-type: circle;
  	margin-left: 1.5em;
}

ol {
    list-style-position: outside;
    list-style-type: decimal;
  	margin-left: 1.5em;
}

ul, ol, dl {
    margin: 0 0 $base_line_height 0;
}

dl dt {
    font-weight: normal;
}

dl dd {
    margin: 0;
}

abbr, acronym {
    border-bottom: 1px dotted #cccccc;
    cursor: help;
}

address {
    font-style: italic;
}

del {
    color: #000000;
}

blockquote {
    padding: 0 1em;
}

strong {
    font-weight: bold;
}

em, dfn {
    font-style: italic;
}

dfn {
    font-weight: bold;
}

pre, code {
    margin: $base_line_height 0;
    white-space: pre;
}

pre, code, tt {
    font-family: $font_monospace;
    line-height: $base_line_height;
}

tt {
    display: block;
    margin: $base_line_height 0;
    line-height: $base_line_height;
}

pre code {
    overflow: auto;
    display: block;
}

sup {
	  vertical-align: 50%;
}

sub {
	  vertical-align: -50%;
}

/* =Content
--------------------------- */
.amp {
    font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
    font-style: italic;
    font-weight: normal;
    line-height: 0;
    position: relative;
}

.caps {
    font-size: 10px;
    font-variant: small-caps;
    text-transform: uppercase;
}

/* =Table
======================================== */
table {
    text-align: left;
    line-height: $base_line_height;
}

thead tr {
	  border-bottom: 1px solid #d7d7d7;
}

tbody tr {
	  border-top: 1px solid #eeeeee;
}

th {
	  color: #555555;
	  background: #eeeeee;
}

th, td {
    vertical-align: middle;
}
