// Font Sizes: for use with YUI fonts
// http://developer.yahoo.com/yui/3/examples/cssfonts/cssfonts-size.html
$yui10px: 77%;
$yui11px: 85%;
$yui12px: 93%;
$yui13px: 100%;
$yui14px: 108%;
$yui15px: 116%;
$yui16px: 123.1%;
$yui17px: 131%;
$yui18px: 138.5%;
$yui19px: 146.5%;
$yui20px: 153.9%;
$yui21px: 161.6%;
$yui22px: 167%;
$yui23px: 174%;
$yui24px: 182%;
$yui25px: 189%;
$yui26px: 197%;