/* ----------------------------------------------------------------------
   Grid based on the 960 Grid System (http://960.gs/)


   Created with the help of SASS and Compass
   SASS: http://www.sass-lang.com
   Compass: http://github.com/chriseppstein/compass
   ---------------------------------------------------------------------- */
/* =Container
======================================== */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* =Grid >> Children
======================================== */
.alpha {
  margin-left: 0;
  padding-left: 0;
}

.omega {
  margin-right: 0;
  padding-right: 0;
}

/* =Grid >> Columns
======================================== */
/* n*(column content + 2*column space) - 2*column space */
.grid_1 {
  width: 20px;
}

.grid_2 {
  width: 80px;
}

.grid_3 {
  width: 140px;
}

.grid_4 {
  width: 200px;
}

.grid_5 {
  width: 260px;
}

.grid_6 {
  width: 320px;
}

.grid_7 {
  width: 380px;
}

.grid_8 {
  width: 440px;
}

.grid_9 {
  width: 500px;
}

.grid_10 {
  width: 560px;
}

.grid_11 {
  width: 620px;
}

.grid_12 {
  width: 680px;
}

.grid_13 {
  width: 740px;
}

.grid_14 {
  width: 800px;
}

.grid_15 {
  width: 860px;
}

.grid_16 {
  width: 920px;
}

/* =Grid Container >> Columns
======================================== */
/* n*(column content + 2*column space) - 2*column space */
.grid_1_container {
  float: left;
  width: 60px;
}

.grid_2_container {
  float: left;
  width: 120px;
}

.grid_3_container {
  float: left;
  width: 180px;
}

.grid_4_container {
  float: left;
  width: 240px;
}

.grid_5_container {
  float: left;
  width: 300px;
}

.grid_6_container {
  float: left;
  width: 360px;
}

.grid_7_container {
  float: left;
  width: 420px;
}

.grid_8_container {
  float: left;
  width: 480px;
}

.grid_9_container {
  float: left;
  width: 540px;
}

.grid_10_container {
  float: left;
  width: 600px;
}

.grid_11_container {
  float: left;
  width: 660px;
}

.grid_12_container {
  float: left;
  width: 720px;
}

.grid_13_container {
  float: left;
  width: 780px;
}

.grid_14_container {
  float: left;
  width: 840px;
}

.grid_15_container {
  float: left;
  width: 900px;
}

.grid_16_container {
  float: left;
  width: 960px;
}

/* =Prefix Extra Space
--------------------------- */
/* n*(column content + 2*column space) + padding */
.prefix_1 {
  width: 70px;
}

.prefix_2 {
  width: 130px;
}

.prefix_3 {
  width: 190px;
}

.prefix_4 {
  width: 250px;
}

.prefix_5 {
  width: 310px;
}

.prefix_6 {
  width: 370px;
}

.prefix_7 {
  width: 430px;
}

.prefix_8 {
  width: 490px;
}

.prefix_9 {
  width: 550px;
}

.prefix_10 {
  width: 610px;
}

.prefix_11 {
  width: 670px;
}

.prefix_12 {
  width: 730px;
}

.prefix_13 {
  width: 790px;
}

.prefix_14 {
  width: 850px;
}

.prefix_15 {
  width: 910px;
}

.prefix_16 {
  width: 970px;
}

/* =Suffix Extra Space
--------------------------- */
/* n*(column content + 2*column space) + padding */
.suffix_1 {
  width: 70px;
}

.suffix_2 {
  width: 130px;
}

.suffix_3 {
  width: 190px;
}

.suffix_4 {
  width: 250px;
}

.suffix_5 {
  width: 310px;
}

.suffix_6 {
  width: 370px;
}

.suffix_7 {
  width: 430px;
}

.suffix_8 {
  width: 490px;
}

.suffix_9 {
  width: 550px;
}

.suffix_10 {
  width: 610px;
}

.suffix_11 {
  width: 670px;
}

.suffix_12 {
  width: 730px;
}

.suffix_13 {
  width: 790px;
}

.suffix_14 {
  width: 850px;
}

.suffix_15 {
  width: 910px;
}

.suffix_16 {
  width: 970px;
}

/* =Push Space
--------------------------- */
/* n*(column content + 2*column space) */
.push_1 {
  width: 60px;
}

.push_2 {
  width: 120px;
}

.push_3 {
  width: 180px;
}

.push_4 {
  width: 240px;
}

.push_5 {
  width: 300px;
}

.push_6 {
  width: 360px;
}

.push_7 {
  width: 420px;
}

.push_8 {
  width: 480px;
}

.push_9 {
  width: 540px;
}

.push_10 {
  width: 600px;
}

.push_11 {
  width: 660px;
}

.push_12 {
  width: 720px;
}

.push_13 {
  width: 780px;
}

.push_14 {
  width: 840px;
}

.push_15 {
  width: 900px;
}

.push_16 {
  width: 960px;
}

/* Pull Space
--------------------------- */
/* -n*(column width + 2*column space) */
.pull_1 {
  width: -60px;
}

.pull_2 {
  width: -120px;
}

.pull_3 {
  width: -180px;
}

.pull_4 {
  width: -240px;
}

.pull_5 {
  width: -300px;
}

.pull_6 {
  width: -360px;
}

.pull_7 {
  width: -420px;
}

.pull_8 {
  width: -480px;
}

.pull_9 {
  width: -540px;
}

.pull_10 {
  width: -600px;
}

.pull_11 {
  width: -660px;
}

.pull_12 {
  width: -720px;
}

.pull_13 {
  width: -780px;
}

.pull_14 {
  width: -840px;
}

.pull_15 {
  width: -900px;
}

.pull_16 {
  width: -960px;
}

/* =Misc
======================================== */
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
The following zoom:1 rule is specifically for IE6 + IE7.
Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix {
  zoom: 1;
}
