/* ----------------------------------------------------------------------
 * Grid based on the 960 Grid System (http://960.gs/)
 * Width: 960 pixels
 * Columns: 12
 * Margin: 10 pixels
 * Padding: 10 pixels
 * Column Width: 40 pixels
 *
 * Created with the help of SASS and Compass
 * SASS: http://www.sass-lang.com
 * Compass: http://github.com/chriseppstein/compass
 * ---------------------------------------------------------------------- */

/* =Container
 * ======================================== */
.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* =Grid >> Columns
 * ========================================
 * n*(column width + 2*column space) - 2*column space */
.grid_1 {
  width: 40px;
}

.grid_2 {
  width: 120px;
}

.grid_3 {
  width: 200px;
}

.grid_4 {
  width: 280px;
}

.grid_5 {
  width: 360px;
}

.grid_6 {
  width: 440px;
}

.grid_7 {
  width: 520px;
}

.grid_8 {
  width: 600px;
}

.grid_9 {
  width: 680px;
}

.grid_10 {
  width: 760px;
}

.grid_11 {
  width: 840px;
}

.grid_12 {
  width: 920px;
}

/* =Grid >> Children
 * ======================================== */
.alpha {
  margin-left: 0;
  padding-left: 0;
}

.omega {
  margin-right: 0;
  padding-right: 0;
}

/* =Prefix Extra Space
 * ---------------------------
 * n*(column width + 2*column space) + padding */
.prefix_1 {
  padding-left: 90px;
}

.prefix_2 {
  padding-left: 170px;
}

.prefix_3 {
  padding-left: 250px;
}

.prefix_4 {
  padding-left: 330px;
}

.prefix_5 {
  padding-left: 410px;
}

.prefix_6 {
  padding-left: 490px;
}

.prefix_7 {
  padding-left: 570px;
}

.prefix_8 {
  padding-left: 650px;
}

.prefix_9 {
  padding-left: 730px;
}

.prefix_10 {
  padding-left: 810px;
}

.prefix_11 {
  padding-left: 890px;
}

/* =Suffix Extra Space
 * ---------------------------
 * n*(column width + 2*column space) + padding */
.suffix_1 {
  padding-right: 90px;
}

.suffix_2 {
  padding-right: 170px;
}

.suffix_3 {
  padding-right: 250px;
}

.suffix_4 {
  padding-right: 330px;
}

.suffix_5 {
  padding-right: 410px;
}

.suffix_6 {
  padding-right: 490px;
}

.suffix_7 {
  padding-right: 570px;
}

.suffix_8 {
  padding-right: 650px;
}

.suffix_9 {
  padding-right: 730px;
}

.suffix_10 {
  padding-right: 810px;
}

.suffix_11 {
  padding-right: 890px;
}

/* =Push Space
 * ---------------------------
 * n*(column width + 2*column space) */
.push_1 {
  left: 80px;
}

.push_2 {
  left: 160px;
}

.push_3 {
  left: 240px;
}

.push_4 {
  left: 320px;
}

.push_5 {
  left: 400px;
}

.push_6 {
  left: 480px;
}

.push_7 {
  left: 560px;
}

.push_8 {
  left: 640px;
}

.push_9 {
  left: 720px;
}

.push_10 {
  left: 800px;
}

.push_11 {
  left: 880px;
}

/* Pull Space
 * ---------------------------
 * -n*(column width + 2*column space) */
.pull_1 {
  left: -80px;
}

.pull_2 {
  left: -160px;
}

.pull_3 {
  left: -240px;
}

.pull_4 {
  left: -320px;
}

.pull_5 {
  left: -400px;
}

.pull_6 {
  left: -480px;
}

.pull_7 {
  left: -560px;
}

.pull_8 {
  left: -640px;
}

.pull_9 {
  left: -720px;
}

.pull_10 {
  left: -800px;
}

.pull_11 {
  left: -880px;
}
