/* =Container
 * ======================================== */
.container_15 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15 {
  display: inline;
  float: left;
  margin-left: 9px;
  margin-right: 9px;
  padding-left: 8px;
  padding-right: 8px;
}

/* =Grid >> Children
 * ======================================== */
.alpha {
  margin-left: 0;
  padding-left: 0;
}

.omega {
  margin-right: 0;
  margin-right: 0;
}

/* =Grid >> Columns
 * ========================================
 * n*(column width + 2*column space) - 2*column space */
.grid_1 {
  width: 30px;
}

.grid_2 {
  width: 94px;
}

.grid_3 {
  width: 158px;
}

.grid_4 {
  width: 222px;
}

.grid_5 {
  width: 286px;
}

.grid_6 {
  width: 350px;
}

.grid_7 {
  width: 414px;
}

.grid_8 {
  width: 478px;
}

.grid_9 {
  width: 542px;
}

.grid_10 {
  width: 606px;
}

.grid_11 {
  width: 670px;
}

.grid_12 {
  width: 734px;
}

.grid_13 {
  width: 798px;
}

.grid_14 {
  width: 862px;
}

.grid_15 {
  width: 926px;
}

/* =Prefix Extra Space
 * ---------------------------
 * n*(column width + 2*column space) + padding */
.prefix_1 {
  padding-left: 72px;
}

.prefix_2 {
  padding-left: 136px;
}

.prefix_3 {
  padding-left: 200px;
}

.prefix_4 {
  padding-left: 264px;
}

.prefix_5 {
  padding-left: 328px;
}

.prefix_6 {
  padding-left: 392px;
}

.prefix_7 {
  padding-left: 456px;
}

.prefix_8 {
  padding-left: 520px;
}

.prefix_9 {
  padding-left: 584px;
}

.prefix_10 {
  padding-left: 648px;
}

.prefix_11 {
  padding-left: 712px;
}

.prefix_12 {
  padding-left: 776px;
}

.prefix_13 {
  padding-left: 840px;
}

.prefix_14 {
  padding-left: 904px;
}

/* =Suffix Extra Space
 * ---------------------------
 * n*(column width + 2*column space) + padding */
.suffix_1 {
  padding-right: 72px;
}

.suffix_2 {
  padding-right: 136px;
}

.suffix_3 {
  padding-right: 200px;
}

.suffix_4 {
  padding-right: 264px;
}

.suffix_5 {
  padding-right: 328px;
}

.suffix_6 {
  padding-right: 392px;
}

.suffix_7 {
  padding-right: 456px;
}

.suffix_8 {
  padding-right: 520px;
}

.suffix_9 {
  padding-right: 584px;
}

.suffix_10 {
  padding-right: 648px;
}

.suffix_11 {
  padding-right: 712px;
}

.suffix_12 {
  padding-right: 776px;
}

.suffix_13 {
  padding-right: 840px;
}

.suffix_14 {
  padding-right: 904px;
}

/* =Push Space
 * ---------------------------
 * n*(column width + 2*column space) */
.push_1 {
  left: 64px;
}

.push_2 {
  left: 128px;
}

.push_3 {
  left: 192px;
}

.push_4 {
  left: 256px;
}

.push_5 {
  left: 320px;
}

.push_6 {
  left: 384px;
}

.push_7 {
  left: 448px;
}

.push_8 {
  left: 512px;
}

.push_9 {
  left: 576px;
}

.push_10 {
  left: 640px;
}

.push_11 {
  left: 704px;
}

.push_12 {
  left: 768px;
}

.push_13 {
  left: 832px;
}

.push_14 {
  left: 896px;
}

/* Pull Space
 * ---------------------------
 * -n*(column width + 2*column space) */
.pull_1 {
  left: -64px;
}

.pull_2 {
  left: -128px;
}

.pull_3 {
  left: -192px;
}

.pull_4 {
  left: -256px;
}

.pull_5 {
  left: -320px;
}

.pull_6 {
  left: -384px;
}

.pull_7 {
  left: -448px;
}

.pull_8 {
  left: -512px;
}

.pull_9 {
  left: -576px;
}

.pull_10 {
  left: -640px;
}

.pull_11 {
  left: -704px;
}

.pull_12 {
  left: -768px;
}

.pull_13 {
  left: -832px;
}

.pull_14 {
  left: -896px;
}
