/* ----------------------------------------------------------------------
 * Grid based on the 960 Grid System (http://960.gs/)
 * Width: 960 pixels
 * Columns: 16
 * Margin: 10 pixels
 * Padding: 10 pixels
 * Column Width: 20 pixels
 *
 * Created with the help of SASS and Compass
 * SASS: http://www.sass-lang.com
 * Compass: http://github.com/chriseppstein/compass
 * ---------------------------------------------------------------------- */

/* =Container
 * ======================================== */
.container_16 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.grid_-1, .grid_-2, .grid_-3, .grid_-4, .grid_-5, .grid_-6, .grid_-7, .grid_-8, .grid_-9, .grid_-10, .grid_-11, .grid_-12, .grid_-13, .grid_-14, .grid_-15, .grid_-16 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* =Grid >> Columns
 * ========================================
 * n*(column width + 2*column space) - 2*column space */
.grid_1 {
  width: 20px;
}

.grid_2 {
  width: 80px;
}

.grid_3 {
  width: 140px;
}

.grid_4 {
  width: 200px;
}

.grid_5 {
  width: 260px;
}

.grid_6 {
  width: 320px;
}

.grid_7 {
  width: 380px;
}

.grid_8 {
  width: 440px;
}

.grid_9 {
  width: 500px;
}

.grid_10 {
  width: 560px;
}

.grid_11 {
  width: 620px;
}

.grid_12 {
  width: 680px;
}

.grid_13 {
  width: 740px;
}

.grid_14 {
  width: 800px;
}

.grid_15 {
  width: 860px;
}

.grid_16 {
  width: 920px;
}

/* =Grid >> Children
 * ======================================== */
.alpha {
  margin-left: 0;
  padding-left: 0;
}

.omega {
  margin-right: 0;
  margin-right: 0;
}

/* =Prefix Extra Space
 * ---------------------------
 * n*(column width + 2*column space) + padding */
.prefix_1 {
  padding-left: 70px;
}

.prefix_2 {
  padding-left: 130px;
}

.prefix_3 {
  padding-left: 190px;
}

.prefix_4 {
  padding-left: 250px;
}

.prefix_5 {
  padding-left: 310px;
}

.prefix_6 {
  padding-left: 370px;
}

.prefix_7 {
  padding-left: 430px;
}

.prefix_8 {
  padding-left: 490px;
}

.prefix_9 {
  padding-left: 550px;
}

.prefix_10 {
  padding-left: 610px;
}

.prefix_11 {
  padding-left: 670px;
}

.prefix_12 {
  padding-left: 730px;
}

.prefix_13 {
  padding-left: 790px;
}

.prefix_14 {
  padding-left: 850px;
}

.prefix_15 {
  padding-left: 910px;
}

/* =Suffix Extra Space
 * ---------------------------
 * n*(column width + 2*column space) + padding */
.suffix_1 {
  padding-right: 70px;
}

.suffix_2 {
  padding-right: 130px;
}

.suffix_3 {
  padding-right: 190px;
}

.suffix_4 {
  padding-right: 250px;
}

.suffix_5 {
  padding-right: 310px;
}

.suffix_6 {
  padding-right: 370px;
}

.suffix_7 {
  padding-right: 430px;
}

.suffix_8 {
  padding-right: 490px;
}

.suffix_9 {
  padding-right: 550px;
}

.suffix_10 {
  padding-right: 610px;
}

.suffix_11 {
  padding-right: 670px;
}

.suffix_12 {
  padding-right: 730px;
}

.suffix_13 {
  padding-right: 790px;
}

.suffix_14 {
  padding-right: 850px;
}

.suffix_15 {
  padding-right: 910px;
}

/* =Push Space
 * ---------------------------
 * n*(column width + 2*column space) */
.push_1 {
  left: 60px;
}

.push_2 {
  left: 120px;
}

.push_3 {
  left: 180px;
}

.push_4 {
  left: 240px;
}

.push_5 {
  left: 300px;
}

.push_6 {
  left: 360px;
}

.push_7 {
  left: 420px;
}

.push_8 {
  left: 480px;
}

.push_9 {
  left: 540px;
}

.push_10 {
  left: 600px;
}

.push_11 {
  left: 660px;
}

.push_12 {
  left: 720px;
}

.push_13 {
  left: 780px;
}

.push_14 {
  left: 840px;
}

.push_15 {
  left: 900px;
}

/* Pull Space
 * ---------------------------
 * -n*(column width + 2*column space) */
.pull_1 {
  left: -60px;
}

.pull_2 {
  left: -120px;
}

.pull_3 {
  left: -180px;
}

.pull_4 {
  left: -240px;
}

.pull_5 {
  left: -300px;
}

.pull_6 {
  left: -360px;
}

.pull_7 {
  left: -420px;
}

.pull_8 {
  left: -480px;
}

.pull_9 {
  left: -540px;
}

.pull_10 {
  left: -600px;
}

.pull_11 {
  left: -660px;
}

.pull_12 {
  left: -720px;
}

.pull_13 {
  left: -780px;
}

.pull_14 {
  left: -840px;
}

.pull_15 {
  left: -900px;
}
