/* ----------------------------------------------------------------------
   Sets up typography and baseline grid. This is a modified
   version of Blueprint's typography.css
   http://code.google.com/p/blueprintcss/
 
   Created with the help of SASS and Compass
   SASS: http://www.sass-lang.com
   Compass: http://github.com/chriseppstein/compass
   ---------------------------------------------------------------------- */
body {
  font-size: 100%;
  line-height: 22px;
  color: #333333;
  font-family: Georgia, "Times New Roman", serif;
}

/* =Headings
======================================== */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Georgia, "Times New Roman", serif;
}

h1 {
  font-size: 182%;
  font-weight: bold;
}

h2 {
  font-size: 161.6%;
  font-weight: bold;
}

h3 {
  font-size: 138.5%;
}

h4 {
  font-size: 123.1%;
}

h5 {
  font-size: 108%;
}

h6 {
  font-size: 100%;
}

.replaced {
  display: block;
  text-indent: -1000em;
}

/* =Text Elements
======================================== */
a:focus {
  outline: 1px dotted;
}

p {
  margin: 0 0 22px 0;
}

ul {
  list-style-position: outside;
  list-style-type: circle;
  margin-left: 1.5em;
}

ol {
  list-style-position: outside;
  list-style-type: decimal;
  margin-left: 1.5em;
}

ul, ol, dl {
  margin: 0 0 22px 0;
}

dl dt {
  font-weight: normal;
}

dl dd {
  margin: 0;
}

abbr, acronym {
  border-bottom: 1px dotted #cccccc;
  cursor: help;
}

address {
  font-style: italic;
}

del {
  color: #000000;
}

blockquote {
  padding: 0 1em;
}

strong {
  font-weight: bold;
}

em, dfn {
  font-style: italic;
}

dfn {
  font-weight: bold;
}

pre, code {
  margin: 22px 0;
  white-space: pre;
}

pre, code, tt {
  font-family: "Courier New", "Lucida Console", monospace;
  line-height: 22px;
}

tt {
  display: block;
  margin: 22px 0;
  line-height: 22px;
}

pre code {
  overflow: auto;
  display: block;
}

sup {
  vertical-align: 50%;
}

sub {
  vertical-align: -50%;
}

/* =Content
--------------------------- */
.amp {
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
  line-height: 0;
  position: relative;
}

.caps {
  font-size: 10px;
  font-variant: small-caps;
  text-transform: uppercase;
}

/* =Table
======================================== */
table {
  text-align: left;
  line-height: 22px;
}

thead tr {
  border-bottom: 1px solid #d7d7d7;
}

tbody tr {
  border-top: 1px solid #eeeeee;
}

th {
  color: #555555;
  background: #eeeeee;
}

th, td {
  vertical-align: middle;
}
